<h1 class="ui orange block header">
    <i class="orange list icon"></i>
    <div class="content">
        Criar Lista
        <div class="sub header">Você está criando uma lista do zero.</div>
    </div>
</h1>

<div class="ui padded raised segment">
        <%= render partial: 'gift_lists/shared/form' %>
</div>
